:root{
  --var-prymary-color: rgb(254, 79, 245);
}
.btn{
  margin: 10px;
  position: relative;
  left: 550px;
  top: 50px;
  padding: 15px 60px;
  border-radius: 35px;
  background-color: var(--var-prymary-color)
}
.btn-transparent{
  background-color: transparent;
  border-color: var(--var-prymary-color);

}
.btn-primary{
  border: none;
  color: white;
}
.container-poki{
  text-align: center;
  border-radius: 15px;
  border-style:solid;
  width: 250px;
  height: 400px;
  left: 600px;
  position: relative;
  background-color: rgb(26, 226, 130);
  box-shadow: 2px 8px 8px 1px rgba(0, 0, 0, 0.2);
  top: 100px !important;
  display: flex;
  justify-content: space-around;
  
}
.poki{
  padding: 0 -110px;
}
.poki-img{
  height: 250px;
}
.container-video{
  position: relative;
  top: 200px;
  display: flex;
  justify-content: space-around;
}
.vidd{
  
  border-radius: 25px;
  border-color: black;
  border-style: solid;
  position: relative;
  box-shadow: 2px 8px 8px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px !important;
  height: 280px;
}
.ori-artist{
  font-size: 15px;
  margin-top: 0;
  color: grey;
  top: none;
}
.ori-vid{
  width: 250px;
  height: 100px;

}
