:root{
    --primary-letter-color:#252B42;
    --second-letter-color: #737373;
    --primary-color:#0D5C63;
    --second-color:#FAFAFA;
    --third-color:#17213C;
    --four-color:#FFFFFF;
    --button-color:#FF7B47;

}
body{    
    font-family: "Montserrat", sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: var(--second-color);
}
header{
    width: 1381px;
    height: 793px;
    background: url(background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    height: 104px;
    padding-left: 167px;
    align-items: center;
    
}
#title{
    font-weight: 700;
    font-size: 16px;

}
#linkss{
    display: flex;
    align-items: center;
    padding-left: 150px;
}
nav a{
    text-decoration: none;
    padding-right: 15px;
    font-weight: 600;
    font-size: 14px;
    color: var(--second-letter-color);
}
#ic{
    padding-left: 670px;
    color: var(--primary-letter-color);
}
#pt1{
    padding-top: 42px;
    padding-left:167px ;
}
#pt1>h1{
    color: var(--primary-letter-color);
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
}
#pt1>p{
    height: 60px;
    width: 376px;
    color: var(--second-letter-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
#button{
    initial-letter-align: 0.2px;
    line-height: 28px;
    font-size: 14px;
    width: 1500px;
    height: 48px;
    gap:10px;
    display: flex;
    padding-left: 167px;
    margin-top: 30px;
}
#btn-orange{
    background-color:var(--button-color);
    color: var(--second-color);
    border: none;
    font-weight: 700;
    border-radius: 37px;
    padding: 10px 36px 10px 36px;
}
#btn-transparent{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    font-weight: 800;
    border-radius: 37px;
    padding: 10px 36px 10px 36px;
}
#pt2{
    padding-top: -50px;
    display: flex;
    margin-top: 91px;
    width: 1,046px;
    height: 242px;
    gap: 30px;
    
}
.c1{
    margin-left: 167px;
    background-color: var(--four-color);
    padding: 40px 45px 40px 45px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.c2{
    margin-left: 0px;
    background-color: var(--four-color);
    padding: 40px 45px 40px 45px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.c3{
    color: var(--four-color);
    margin-left: 0px;
    background-color: var(--primary-color);
    padding: 40px 45px 40px 45px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.c3>H3{
    color: var(--four-color);
}
.c3>P{
    color: var(--four-color);
}
.c{
    color: var(--primary-letter-color);
    font-weight: 700;
    font-size: 24px;
}
.pp{
    color: var(--second-letter-color);
    font-weight: 500;
    font-size: 14px;
}
#pt3{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#pt3>h2{
    color: var(--primary-letter-color);
    line-height: 0px;
    font-weight: 700;
    font-size: 40px;
}
#pt3>P{
    color: var(--second-letter-color);
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
}
#pt4{
    margin-top: 36px;
    display: flex;
    align-items: center;
}
.cc1{
    background-color: var(--four-color);
    margin-left: 167px;
    padding: 30px 40px 30px 40px;
    text-align: center;
    line-height: 24px;
}
.cc1>h2{
    color: var(--primary-letter-color);
    font-size: 40px;
    font-weight: 700;
}
.cc1>p{
    color: var(--second-letter-color);
    font-size: 16px;
    font-weight: 700;
}
.cc2{
    background-color: var(--four-color);
    margin-left: 40px;
    padding: 30px 40px 30px 40px;
    text-align: center;
    line-height: 24px;
}
.cc2>h2{
    color: var(--primary-letter-color);
    font-size: 40px;
    font-weight: 700;
}
.cc2>p{
    color: var(--second-letter-color);
    font-size: 16px;
    font-weight: 700;
}
.cc3{
    background-color: var(--four-color);
    margin-left: 40px;
    padding: 30px 40px 30px 40px;
    text-align: center;
    line-height: 24px;
}
.cc3>h2{
    color: var(--primary-letter-color);
    font-size: 40px;
    font-weight: 700;
}
.cc3>p{
    color: var(--second-letter-color);
    font-size: 16px;
    font-weight: 700;
}
.cc4{
    background-color: var(--four-color);
    margin-left: 40px;
    padding: 30px 40px 30px 40px;
    text-align: center;
    line-height: 24px;
}
.cc4>h2{
    color: var(--primary-letter-color);
    font-size: 40px;
    font-weight: 700;
}
.cc4>p{
    color: var(--second-letter-color);
    font-size: 16px;
    font-weight: 700;
}
#pt5{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#pt5>h2{
    color: var(--primary-letter-color);
    line-height: 0%;
    font-size: 40px;
    font-weight: 700;
}
#pt5>p{
    line-height: 20px;
    color: var(--second-letter-color);
    font-size: 14px;
    font-weight: 500;
}
#pt6{
    display:flex;
    margin-top: 45px; 
    
    
}
.d1{
    background-color: var(--four-color);
    width: 241px;
    height: 341;
    margin-left: 167px;   
}
.d2{
    background-color: var(--four-color);
    width: 241px;
    height: 342;
    margin-left: 30px;
}
.d3{
    background-color: var(--four-color);
    width: 241px;
    height: 342;
    margin-left: 30px;
}
.d4{
    background-color: var(--four-color);
    width: 241px;
    height: 342;

}
.tit{
    width: 130px;
    height: 48px;
    margin-top: 30px;
    margin-left: 30px;
}
.tit>h5{
    color: var();
    font-size: 16px;
    font-weight: 700;
}
.pd{
    height: 80px;
    width: 160px;
    margin-left: 10px;
}
.pd p{
    color: #737373;
    font-weight: 500;
    font-size: 14px;
}

#pt7{
    width: 454px;
    height: 62px;
    flex-direction: column;
    
}
#pt{
    white-space: nowrap;
    margin-left: 167px;
}
#pt>h3{
    color: var(--primary-letter-color);
    margin-bottom: 0;
    margin-top: 120px;
    font-size: 24px;
    font-weight: 700;
}
#pt>p{
    color: var(--second-letter-color);
    font-size: 15px;
    font-weight: 500;
}
#btnn{
    width: 454px;
    height:62px;
    display: flex;
    margin-top: 0;
    margin-bottom: 200px;
    margin-left: 1050px;
}
#btn-orange-orange{
    border-radius: 5px;
    width: 160px;
    height: 58px;
    border: none;
    background-color: var(--button-color);
    color: var(--four-color);
    padding: 15px, 40px, 15px, 40px;
}
#ppag{
    background-color: var(--third-color);
    display: flex;
    width: 1381px;
    height: 272px;
}
#pag1{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: 167px;
}
#pag1 a{
    text-decoration: none;
    color: var(--four-color);
    font-size: 14px;
    font-weight: 600;
}
    
#pag1>h5{
    color: var(--four-color);
    font-weight: 700;
    font-size: 16px;
    
}

#pag2{
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    margin-left: 200px; 

}
#pag2>h5{
    color: var(--four-color);
    font-weight: 700;
    font-size: 16px;
}
#pag2 a{
    text-decoration: none;
    color: var(--four-color);
    font-size: 14px;
    font-weight: 600;
}
#pag3{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    
}
#pag3>h5{
    color: var(--four-color);
    font-weight: 700;
    font-size: 16px;
}
#pag3 a{
    text-decoration: none;
    color: var(--four-color);
    font-size: 14px;
    font-weight: 600;
}
#pag4{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: 600px;
}
#pag4>h5{
    color: var(--four-color);
    font-weight: 700;
    font-size: 16px;
}
#pag4 a{
    text-decoration: none;
    color: var(--four-color);
    font-size: 14px;
    font-weight: 600;
}
#pag5{
    justify-content: space-between;
    list-style-type: none;
    display: flex !important;
    flex-direction: column !important;
    margin-left: 800px;
    padding-top: 0%;
    padding-bottom: 600px;
}
#pag5>h5{
    color: var(--four-color) !important;
    font-weight: 700;
    font-size: 16px;
    color: var();
}